matplotlib >= 3
numpy >= 1.17.0
pandas >= 1
pytest
scipy
tqdm
astropy
coverage
coveralls
pytest-cov
pyyaml
openpyxl
xlrd
hypothesis
mock
sphinx
sphinx-bootstrap-theme
sphinxcontrib-napoleon
sphinx_automodapi.automodapi